@font-face {
    font-family: "poppins";
    src: url("fonts/Poppins-Regular.ttf");
}

body {
    margin: 0;
    font-family: 'poppins', 'Arial', 'Verdana', sans-serif;
}

header {
    width: 100%;
    height: 100px;
    background-color: #FFE6CC;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    height: 75px;
    padding-left: 40px;
}

.header__contacts-container {
    padding-right: 50px;
}

.content section {
    width: 100%;
    border: 1px solid black;
}

.selling-main {
    height: 500px;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
}

.selling-main__img-background {
    position: relative;
    left: 100px;
    z-index: 1;
    width: 500px;
    height: 400px;
    border-style: solid;
}

.selling-main__img-background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 0 ;
}

.selling-main__container {
    right: 100px;
    position: relative;
    display: flex;
    align-items: center;
    z-index: 5;
}

.selling-main__container-text {
    background-color: white;
    width: 250px;
    position: relative;
    left: -250px;
}

.product-offers {
    height: 350px;
}

.product-offer {
    border: solid black 1px;
    height: 300px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-content: space-around;
    flex-wrap: wrap;
    background-color: #f8cecc;
}

.product-offers__container {
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
}

.product-offer__logo img {
    width: 160px;
    /* height: 125px; */
}

.product-offer__text-container-main {
    text-align: center;
    background-color: white;
    margin: 0 10px 10px 10px;
    border: solid black 1px;
    font-size: 14px;
}

.limited-promotion__container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
}

.limited-promotion__container-text {
    left: 150px;
    position: relative;
}

.limited-promotion__container-text h1 {
    margin-bottom: 60px;
}

.limited-promotion__container-text-general {
    width: 320px;
    margin: 0 300px 25px -25px;
    background: #d5d2d2;
    border: solid black 1.5px;
    border-radius: 50px;
    padding: 15px;
}

.limited-promotion__container-text-general span {
    margin: 5px 5px 5px 5px;
}

.limited-promotion__container-timer {
    color: red;
    font-size: 30px;
    right: 35px;
    position: relative;
}

.advantages h1 {
    text-align: center;
}

.advantages__container {
    position: relative;
    width: 60%;
    height: 400px;
    margin: 0 auto 50px auto;
    overflow: hidden;
}
  
  .slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slider img {
    width: 100%;
    object-fit: cover;
}
  
.prev-button, .next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    font-size: 24px;
    color: white;
}

.prev-button {
    left: 10px;
}
  
.next-button {
    right: 10px;
}

.advantages__container-mobile {
    display: none;
}
.advantages__addiction {
    text-align: center;
    margin-bottom: 20px;
}